<footer id="subfooter" class="clearfix">
<div class="container">
        <div class="row">
            <div class="col-md-3">
                <p style="font-size:18px;"><span class="fa fa fa-laptop"></span> 关于开发费用</p>
                <p>按需开发</p>
                <p>按量定价</p>
                <p>童叟无欺</p>
            </div>
            <div class="col-md-3">
                <p style="font-size:18px;"><span class="fa fa-clock-o"></span> 最新消息</p>
                <p>新网站刚上线</p>
				<p>新消息再等等</p>
                <p>.......</p>
            </div>
			<div class="col-md-3">
                <p style="font-size:18px;"><span class="fa fa-map-marker"></span> 联系地址</p>
                <p>山东省 青岛市 市北区CBD 诺德广场</p>
                <p>+1 888 888 8888</p>
                <p><a href="mailto:haishuiot@163.com">haishuiot@163.com</a></p>
            </div>
            <div class="col-md-3">
                <p style="font-size:18px;"><span class="fa fa-envelope-o"></span> 订阅消息</p>
                <p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="输入您的邮箱..." />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">订阅</button>
                        </span>
                    </div>
                </p>
                <p><br /></p>
            </div>
        </div>
    </div>
</footer>

<footer id="footer" class="clearfix">
    <div class="container">
        <div class="row">
           <!-- <div class="col-md-8">
                <p>
                    <a class="fa fa-twitter footer-socialicon" target="_blank" href="https://twitter.com/"></a>
                    <a class="fa fa-facebook footer-socialicon" target="_blank" href="https://www.facebook.com/"></a>
                    <a class="fa fa-google-plus footer-socialicon" target="_blank" href="https://plus.google.com/"></a>
                    <a class="fa fa-linkedin footer-socialicon" target="_blank" href="https://plus.google.com/"></a>
                </p>
            </div>-->
            <div class="col-md-6">
                <p>Created by <a href="http://www.haishu-iot.com" title="HS-IOT">海数物联<sup>&#174;</sup></a> and hosted by <a href="https://www.aliyun.com" title="Ali YUN">阿里云<sup>&#174;</sup></a></p>
            </div>

			 <div class="col-md-6">
				 <p>鲁ICP备18021931号-2 </p>
				 </div>
        </div>
    </div>
</footer>