<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>智慧工地平台系统</title>
<style type="text/css">
body {
	margin-top: 0px;
	margin-right: 0px;
}
</style>
<link href="css/css.css" rel="stylesheet" type="text/css" />
</head>

<body  background="pic/background.jpg" text="#FFFFFF">
    <table width="3840" height="2160"  cellpadding="0" cellspacing="0" border="0">
    	<tr><!--第一层第一行-->
        	<td width="1280" height="240" valign="top" align="left">
              <table  cellpadding="0" cellspacing="0" border="0">
                  <tr><td align="left" valign="top" width="550"><img src="pic/logo.png"/>  </td><td align="left" valign="center"><font class="fontyellow">2019</font><font class="fontblue">年</font><font class="fontyellow"><span id="monthid"></span></font><font class="fontblue">月</font><font class="fontyellow"><span id="dayid"></span></font><font class="fontblue">日</font> <font class="fontblue">&nbsp;&nbsp;星期</font><font class="fontyellow"><span  id="weekid"></span></font> &nbsp;&nbsp; <font class="fontyellow"><span id="timeid"></span></font></td></tr>
              </table>
            </td>
          <td width="1310" height="240"  valign="top" align="left">
            </td>
          <td width="1250" align="right" valign="top">
           <table width="500" align="right"  cellpadding="0" cellspacing="0" border="0">
                <tr><td align="right" valign="top" >
            <font class="fontblue">累计安全运行 </font><font class="fontyellow">273</font> <font class="fontblue">天 </font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr></table>
            </td>
        </tr>
        <tr><!--第一层第二行-->
       	  <td height="880">
                   	  <table width="1280" height="880" cellpadding="0" cellspacing="0" border="0">
                      <tr><!--环境实时监测title-->
                        <td width="150" height="170">&nbsp;</td>
                        <td width="1030">&nbsp;</td>
                        <td width="100">&nbsp;</td>
                      </tr>
                      <tr>
                        <td height="570">&nbsp;</td>
                        <td width="1030">
                        	<table  cellpadding="0" cellspacing="0" border="0"><!--环境实时监测数据table-->
                            	<tr>
                                    <td height="393"  width="1000">
                                        <div id="main" style="width: 100%;height:100%;">

									        </div>
                                    </td>

                                </tr>
                                <tr><td height="177"  width="1030">
                                	<table width="1030"  height="177" cellpadding="0" cellspacing="0" border="0">
                                    	<tr>
                                        	<td width="49" ></td>
                                            <td width="160" align="center" valign="middle"><font class="fontwhite">温度</font> <br /><font class="fontyellow"><span id="temp">°C</span></font></td>
                                            <td width="92"></td>
                                            <td width="160"  align="center" valign="middle"><font class="fontwhite">湿度</font> <br /><font class="fontblue"><span id="humidity">0</span></font></td>
                                            <td width="92"></td>
                                            <td width="160"  align="center" valign="middle"><font class="fontwhite">PM10</font> <br /><font class="fontyellow"><span id="PM10">0</span></font></td>
                                            <td width="92"></td>
                                            <td width="160"  align="center" valign="middle"><font class="fontwhite">PM25</font> <br /><font class="fontblue2"><span id="PM25">0</span></font></td>
                                            <td width="65"></td>
                                        </tr>
                                    </table>
                                </td></tr>
                            </table></td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td height="140">&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                    </table>
            </td>
            <td height="880" width="1310"><!--第一层第二行第二列--><!--劳务实时数据-->
            	<table  cellpadding="0" cellspacing="0" border="0"><!--劳务实时数据table-->
                	<tr><!--劳务实时数据title行 -->
                    <td width="90" height="207"></td>
                    <td width="1100"></td>
                    <td width="120"></td></tr>
                    <tr>
                    <td height=595""></td>
                    <td width="1100" height="595" valign="top"><!--劳务实时数据-->
                    	<table cellpadding="0" cellspacing="0" border="0">
                        <tr><!--劳务实时数据显示第一组 -->
                        <td>
                        	<table cellpadding="0" cellspacing="0" border="0" height="152">
                            	<tr>
                                <td height="152" width="275" valign="middle" align="center"><font class="fontblue3">劳务工总数</font><br /><font class="fontblue">758</font></td>
                                <td  width="275" valign="middle" align="center"><font class="fontblue3">今日进场人数</font><br /><font class="fontblue">746</font></td>
                                <td  width="275" valign="middle" align="center"><font class="fontblue3">当前在场人数</font><br /><font class="fontblue">739</font></td>
                                <td width="275" valign="middle" align="center"><font class="fontblue3">当前出场人数</font><br /><font class="fontblue">7</font></td>
                                </tr>
                            </table>
                        </td></tr>
                        <tr><!--劳务实时数据显示第二组 -->
                        <td>
                        	<table  cellpadding="0" cellspacing="0" border="0" height="443">
                            	<tr>
                                <td width="370" height="443" valign="top"><!--此处显示最新打卡信息-->
                                	<table cellpadding="0" cellspacing="0" border="0" width="370">
                                    	<tr><td height="230" align="center" valign="bottom"></td></tr>
                                        <tr>
                                          <td height="213" align="center" valign="top"><!--此处为最新打卡员工信息-->
                                          	<table cellpadding="0" cellspacing="0" border="0">
                                            <tr><td align="center"><font class="fontlwblue">杨同维</font></td></tr>
                                            <tr><td><br /><font class="fontlwblue">班       组：恒隆
													<br />工       种：木工
													<br />状       态：进场
													<br />打卡时间：2019-10-09 12:25</font></td></tr>
                                            </table>
                                          </td></tr>
                                    </table>
                                </td>
                                <td width="730" height="443" valign="top">
                                	<table cellpadding="0" cellspacing="0" border="0" height="430">
                                    	<tr>
                                        <td width="365" height="215" valign="bottom" align="left"><!--劳务工总数-->
                                        	<table cellpadding="0" cellspacing="0" border="0" width="335">
                                            	<tr><td align="center" height="30"><font class="fontlwblue2">劳务工总数</font></td></tr>
                                                <tr><td align="left" height="150">
                                                   <div id="main_totalperson" style="height:100%;width:320px"></div>
                                                </td></tr>
                                            </table>
                                        </td>
                                        <td width="365" valign="bottom" align="right"><!--进场人数-->
                                             <table cellpadding="0" cellspacing="0" border="0" width="365">
                                            	<tr><td align="center" height="30"><font class="fontlwblue2">进场人数</font></td></tr>
                                                <tr><td align="left" height="150">
                                                     <div id="main_intoperson" style="height:100%;width:320px"></div>

                                                </td></tr>
                                            </table>
                                        </td>
                                        </tr>
                                        <tr>
                                        <td height="215" valign="bottom" align="left"><!--在场人数-->
                                              <table cellpadding="0" cellspacing="0" border="0" width="335">
                                            	<tr><td align="center" height="30"><font class="fontlwblue2">在场人数</font></td></tr>
                                                <tr><td align="left" height="150">
                                                    <div id="main_presentperson" style="height:100%;width:320px"></div>
                                                </td></tr>
                                            </table>
                                        </td>
                                        <td valign="bottom" align="right"><!--工种分布-->
                                             <table cellpadding="0" cellspacing="0" border="0" width="365">
                                            	<tr><td align="center" height="30"><font class="fontlwblue2">工种分布</font></td></tr>
                                                <tr><td align="left" height="150">
                                                    <div id="main_workertype" style="height:100%;width:320px"></div>
                                                </td></tr>
                                            </table>
                                        </td>
                                        </tr>
                                    </table>
                                </td>
                                </tr>
                            </table>
                        </td>
                        </tr>
                        </table>
                    </td>
                    <td></td></tr>
                    <tr><td height="78"></td><td></td><td></td></tr>
                </table>
            	
            </td>
             <td heigh="880" width="1250"><!--第一层第二行第三列--><!--实时视频信息-->
            	<table   cellpadding="0" cellspacing="0" border="0"><!--实时视频信息table-->

                	<tr><!--实时视频信息title行-->
                    <td height="112" width="77">&nbsp;</td><td width="1065">&nbsp;</td><td width="108">&nbsp;</td></tr>
                    <tr><td height="652"></td>
                    <td width="1065" align="center" valign="top">
                    	 <div id="playWnd"   ></div>
                    </td><!--实时视频--> 
                    <td></td></tr>
                    <tr><td height="116"></td><td></td><td></td></tr>
                </table>
            </td>
        </tr>
          <tr><!--第一层第三行-->
        	<td height="930" width="1280">
             <table  cellpadding="0" cellspacing="0" border="0"><!--用水量统计table-->
             	<tr><!--用水量统计title行-->   
                		<td width="150" height="195">&nbsp;</td>
                        <td width="1030">&nbsp;</td>
                        <td width="100">&nbsp;</td></tr>
                <tr><td height="555">&nbsp;</td>
                <td>
                	<table width="1030" height="555"  cellpadding="0" cellspacing="0" border="0"><!--用水量统计数据table-->
                    	<tr><!--用水量统计数据行 -->
                        <td height="190">
                             <table  cellpadding="0" cellspacing="0" border="0">
                             <tr>
                             	<td height="190" width="86"></td>
                                <td width="218" align="center" valign="middle"><font class="fontblue3">昨日用量</font> <br/><font class="fontblue">45.4吨</font></td>
                                <td width="117"></td>
                                 <td width="218" align="center" valign="middle"><font class="fontblue3">当前读数</font> <br/><font class="fontblue"><span id="db-9198-514">0.0吨</span></font></td>
                                <td width="114"></td>
                                <td width="218" align="center" valign="middle"><font class="fontblue3">本月用量</font><br /><font class="fontblue">587.2吨</font></td>
                                <td width="59"></td>
                             </tr>   
                             </table>
                        </td></tr>
                        <tr><!--用水量统计图表行 -->
                        <td height="365">
                            <div id="main_water" style="width: 100%;height:100%;">

									</div>
                        </td>
                        </tr>
                    </table>
                </td>
                <td></td></tr>
                <tr><td height="180"></td><td></td><td></td></tr>
             </table>
            </td>
            <td height="930" width="1310"><!--第一层第三行第二列-->
            	<table cellpadding="0" cellspacing="0" border="0"><!--吊塔信息table-->
                	<tr><!--吊塔信息title行-->
                    	<td height="207" width="95"></td><td width="1096"></td><td width="119"></td>
                    </tr>
                    <tr><!--吊塔信息数据行-->
                    	<td height="583"></td>
                        <td height="583" width=1096"">
                        	<table cellpadding="0" cellspacing="0" border="0" height="583"><!--吊塔信息数据table一行三列-->
                            	<tr>
                                <td width="373" valign="top">
                                	<table cellpadding="0" cellspacing="0" border="0" width="373">
                                    	<tr><td height="329"></td></tr>
                                        <tr><td><font class="fontdtblue">&nbsp;<br />
                                                     &nbsp;当前状态：<span id="status1" style="color:green">在线</span><br />
                                            &nbsp;前臂长：60m<br />
                                            &nbsp;载重：<span id="Load1">0.0</span>t<br />
                                            &nbsp;幅度：<span id="Radius1">0.0</span>m<br />
                                            &nbsp;高度：<span id="Height1">0.0</span>m<br />
                                            &nbsp;回转角度：<span id="Angle1">0.0</span>°<br />
                                            &nbsp;倾斜角度：<span id="ObliqueAngle1">0.0</span>°<br />
                                            &nbsp;更新时间：<span id="DeviceTime1">2019-07-27 07:13:32</span></font>
                                            </td></tr>
                                    </table>
                                </td>
                                <td width="373">
                                    <table cellpadding="0" cellspacing="0" border="0" width="373">
                                        <tr><td><font class="fontdtblue">&nbsp;
                                                  当前状态：<span id="status2" style="color:red">在线</span><br />
                                            &nbsp;前臂长：50m<br />
                                            &nbsp;载重：<span id="Load2">0.0</span>t<br />
                                            &nbsp;幅度：<span id="Radius2">0.0</span>m<br />
                                            &nbsp;高度：<span id="Height2">0.0</span>m<br />
                                            &nbsp;回转角度：<span id="Angle2">0.0</span>°<br />
                                            &nbsp;倾斜角度：<span id="ObliqueAngle2">0.0</span>°<br />
                                            &nbsp;更新时间：<span id="DeviceTime2">2019-07-27 07:13:32</span></font>
                                            </td></tr>
                                    	<tr><td height="329"></td></tr>

                                    </table>
                                </td>
                                <td width="373"><table cellpadding="0" cellspacing="0" border="0" width="373">
                                    	<tr><td height="329"></td></tr>
                                        <tr><td><font class="fontdtblue">&nbsp;
                                           当前状态：<span id="status3" >在线</span><br />
                                            &nbsp;前臂长：50m<br />
                                            &nbsp;载重：<span id="Load3">0.0</span>t<br />
                                            &nbsp;幅度：<span id="Radius3">0.0</span>m<br />
                                            &nbsp;高度：<span id="Height3">0.0</span>m<br />
                                            &nbsp;回转角度：<span id="Angle3">0.0</span>°<br />
                                            &nbsp;倾斜角度：<span id="ObliqueAngle3">0.0</span>°<br />
                                            &nbsp;更新时间：<span id="DeviceTime3">2019-07-27 07:13:32</span></font>
                                            </td></tr>
                                    </table></td>
                                </tr>
                            </table>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                    	<td height="140"></td><td></td><td></td>
                    </tr>
                </table>
            </td>
             <td  height="930" width="1250"><!--第一层第三行第三列-->
            	<table cellpadding="0" cellspacing="0" border="0"><!--用电量统计table-->
                    <tr><!--用电量统计title行-->
                    	<td height="195" width="77">&nbsp;</td><td width="1065">&nbsp;</td><td width="108">&nbsp;</td>
                    </tr>
                    <tr><td height="555"></td>
                    <td>
                    	<table cellpadding="0" cellspacing="0" border="0" ><!--用电量统计数据一行两列table-->
                        <tr>
                        <td width="360"><!--用电量统计数据列-->
  							<table width="360"  cellpadding="0" cellspacing="0" border="0">
                            	<tr><td height="21"></td></tr>
                                <tr><td height="111" align="center" valign="middle"><font class="fontblue3">项目部</font> <br/><font class="fontblue"><span id="project_data" >0.00</span></font></td></tr>
                                <tr><td  height="77"></td></tr>
                                <tr><td height="111" align="center" valign="middle"><font class="fontblue3">生活区北</font> <br/><font class="fontblue"><span id="living_north_data" >0.00</span></font></td></tr>
                                <tr><td height="77"></td></tr>
                                <tr><td height="111" align="center" valign="middle"><font class="fontblue3">施工现场-北</font> <br/><font class="fontblue"><span id="north_data" >0.00</span></font></td></tr>
                                <tr><td height="47"></td></tr>
                            </table>
                        </td>
                        
                        <td width="660" height="500"><!--用电量统计图表列-->
                        	<div id="main_electronic" style="width: 100%;height:100%;">

									</div>
                        </td></tr>
                        </table>
                    </td>
                    <td></td></tr>
                    <tr><td height="180"></td><td></td><td></td></tr>
                </table>
            </td>
        </tr>
         <tr><!--第一层第四行-->
       	   <td height="110">
            
            </td>
            <td>
            
            </td>
             <td>
            
            </td>
        </tr>
    </table>
    <script src="js/jquery/jquery-2.0.3.min.js"></script>
<!-- websocket --socket.io. SCRIPT -->
    <script src="js/websocket/socket.io.js"></script>
    <script  type="text/javascript" src="js/echarts/echarts.min.js"></script>
    <!-- js formate date-->
    <script  type="text/javascript" src="js/jsdate.js"></script>
    <!--海康的视频回放插件,依赖jquery-->
    <script  type="text/javascript" src="js/hikvideo/jsencrypt.min.js"></script>
    <script  type="text/javascript" src="js/hikvideo/jsWebControl-1.0.0.min.js"></script>
<script  type="text/javascript" charset="utf-8">
    var socket;
    jQuery(document).ready(function () {

        //set date
        var month = new Date().Format("MM");
        var day = new Date().Format("dd");
        var week = new Date().Format("E");
        $('#monthid').text(month);
        $('#dayid').text(day);
        $('#weekid').text(week);

    	connet_ws();
    	loadDustData();
    	loadWaterData();
    	loadElectronicData();
    	loadTotalPerson();
    	loadIntoPerson();
    	loadPresentPerson();
    	loadWokerType();
    	initPlugin(); //初始化海康摄像头参数
	});

	function connet_ws()
    {
        namespace = '/xltd-daping'
	    socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace,{'reconnection delay': 2000});

	     socket.on('dust_data', function(msg) {
            //alert(msg.data);
            var json_data = JSON.parse(msg.data);
            for(var key in json_data){
                        //alert(key+':'+json_data[key]);
                        $("#"+key).text(json_data[key]);
                    }

          });

          socket.on('electronic_data', function(msg) {
            //alert(msg.data);
            var json_data = JSON.parse(msg.data);
            for(var key in json_data){
                        //alert(key+':'+json_data[key]);
                        $("#"+key).text(json_data[key]);
                    }
          });

          socket.on('water_data', function(msg) {
            //alert(msg.data);
            var json_data = JSON.parse(msg.data);
            //alert(json_data);
            for(var key in json_data){
                        //alert(key+':'+json_data[key]);
                        $("#"+key).text(json_data[key]);
                    }

          });

          socket.on('tower_data', function(msg) {
            //alert(msg.data);
            var json_data = JSON.parse(msg.data);
            for(var key in json_data){
                        //alert(key+':'+json_data[key]);
                        //$("#"+key).text(json_data[key]);
                        if(key == '010819050005'){      //1号塔吊
                            for(var t1 in json_data[key]){
                                //alert(json_data[key][t1]);
                                $("#"+t1+"1").text(json_data[key][t1]);
                                if(t1 == 'IsOnline'){ //离线的状态设置为红色字体
                                    if(json_data[key][t1]==0){
                                         $("#status1").text("离线");
                                        $("#status1").attr("style","color:red;")
                                    }
                                    else{
                                        $("#status1").text("在线");
                                        $("#status1").attr("style","color:#19d3f0;")
                                    }
                                }
                            }
                        }
                        else if(key == '010819050045'){      //2号塔吊
                             for(var t1 in json_data[key]){
                                //alert(json_data[key][t1]);
                                $("#"+t1+"2").text(json_data[key][t1]);
                                if(t1 == 'IsOnline'){ //离线的状态设置为红色字体
                                    if(json_data[key][t1]==0){
                                         $("#status2").text("离线");
                                        $("#status2").attr("style","color:red;")
                                    }
                                    else{
                                        $("#status2").text("在线");
                                        $("#status2").attr("style","color:#19d3f0;")
                                    }
                                }
                            }
                        }
                        else if(key == '010819050048'){      //3号塔吊
                             for(var t1 in json_data[key]){
                                //alert(json_data[key][t1]);
                                $("#"+t1+"3").text(json_data[key][t1]);
                                if(t1 == 'IsOnline'){ //离线的状态设置为红色字体
                                    if(json_data[key][t1]==0){
                                         $("#status3").text("离线");
                                        $("#status3").attr("style","color:red;")
                                    }
                                    else{
                                        $("#status3").text("在线");
                                        $("#status3").attr("style","color:#19d3f0;")
                                    }
                                }
                            }
                        }
              }

          });
	 }


  function loadDustData()
 {
    var myChart = echarts.init(document.getElementById('main'));
 	myChart.setOption(option = {
    title: {
        text: ''
    },
    tooltip : {
        trigger: 'axis'
    },

    toolbox: {
        show: false
    },
    xAxis : {
            type : 'category',
            axisLabel: {
                show: true,
                textStyle: {
                  color: '#1ae0fe'
                }
              },
            boundaryGap : false,
            data : ['0点','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23']
        },
       yAxis : {
            axisLabel: {
                show: true,
                textStyle: {
                  color: '#1ae0fe'
                }
              },
              splitLine:{
                show:true,
                lineStyle: {
                    color: '#1ae0fe',
                    type: 'dotted'
                }
              },
            type : 'value',
             minInterval:5
        },
       series : [
        {
            name:'PM25',
            type:'line',
            data:[46, 36, 45, 48, 52, 45,35,46,41,46,51,58,50,60,68]
        },
        {
            name:'PM10',
            type:'line',
            data:[40, 46, 49, 50, 50, 55,40,53,51,42,50,55,60,65,55],
            color: '#1ae0fe'
        }
       ]
    });

    setInterval(function() {
      var option = myChart.getOption();
      option.series[0].data = [46, 36, 45, 48, 52, 45,35,46,41,46,51,58,50,60,68];
      option.series[1].data = [40, 46, 49, 50, 50, 55,40,53,51,42,50,55,60,65,55];
      myChart.clear();
      myChart.setOption(option,true);
  },15000);

 }



 function loadWaterData()
 {
 	var myChart = echarts.init(document.getElementById('main_water'));
 	myChart.setOption(option = {
    title: {
        text: ''
    },
    tooltip : {
        trigger: 'axis',
        axisPointer: {
            type: 'cross',
            label: {
                backgroundColor: '#6a7985'
            }
        }
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    toolbox: {
        show: false
    },
    xAxis : {
            type : 'category',
            axisLabel: {
                show: true,
                textStyle: {
                  color: '#1ae0fe'
                }
              },
            boundaryGap : false,
            data : ['星期一','星期二','星期三','星期四','星期五','星期六','星期日']
        },
       yAxis : {
            axisLabel: {
                show: true,
                textStyle: {
                  color: '#1ae0fe'
                }
              },
              splitLine:{
                show:true,
                lineStyle: {
                    color: '#1ae0fe',
                    type: 'dotted'
                }
              },
            type : 'value',
             minInterval:3
        },
       series : [
            {
                data: [30, 36, 32],
                type: 'line',
                areaStyle: {
                    normal: {
                    color: '#8cd5c2' //改变区域颜色
                    }
                }
            }
       ]
    });

    setInterval(function() {
      var option = myChart.getOption();
      option.series[0].data = [30, 36, 32];

      myChart.clear();
      myChart.setOption(option,true);
    },20000);
 }

 function loadTotalPerson(){
    var myChart = echarts.init(document.getElementById('main_totalperson'));
    myChart.setOption(option = {

    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'shadow'
        }
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis: {
        splitLine:{
                show:false  //去掉图表中的竖线
         },
        type: 'value',
        boundaryGap: false
    },
    yAxis: {
        axisLabel: {
                show: true,
                textStyle: {
                  color: '#1ae0fe'
                }
         },
        type: 'category',
        data: ['木工','钢筋工','砼工','其他'],
        max: 3
    },
    series: [
        {
            name: '',
           // barCategoryGap:'60%',
           barGap: '30%',
            type: 'bar',
            barWidth: '60%',
            data: [301, 236, 95, 125],
            itemStyle: {
                  normal: {
                     color: new echarts.graphic.LinearGradient(
                         0, 0, 1, 0,   // 0,0,1,0表示从左向右    0,0,0,1表示从右向左
                          [
                               {offset: 0, color: '#0b2446'},
                               {offset: 0.1, color: '#0b3357'},
                               {offset: 0.3, color: '#0c4770'},
                               {offset: 0.5, color: '#0c79AA'},
                               {offset: 0.7, color: '#0d9dd4'},
                                {offset: 1, color: '#0dbefc'}
                           ]
                       )
                   }
            }
        }
    ]
  });
 }

 function loadIntoPerson(){
    var myChart = echarts.init(document.getElementById('main_intoperson'));
    myChart.setOption(option = {

    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'shadow'
        }
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis: {
        splitLine:{
                show:false  //去掉图表中的竖线
         },
        type: 'value',
        boundaryGap: false
    },
    yAxis: {
        axisLabel: {
                show: true,
                textStyle: {
                  color: '#1ae0fe'
                }
         },
        type: 'category',
        data: ['木工','钢筋工','砼工','其他'],
        max: 3
    },
    series: [
        {
            name: '',
           // barCategoryGap:'60%',
           barGap: '30%',
            type: 'bar',
            barWidth: '60%',
            data: [301, 230, 90, 125],
            itemStyle: {
                  normal: {
                     color: new echarts.graphic.LinearGradient(
                         0, 0, 1, 0,   // 0,0,1,0表示从左向右    0,0,0,1表示从右向左
                          [
                               {offset: 0, color: '#0b2446'},
                               {offset: 0.1, color: '#0b3357'},
                               {offset: 0.3, color: '#0c4770'},
                               {offset: 0.5, color: '#0c79AA'},
                               {offset: 0.7, color: '#0d9dd4'},
                                {offset: 1, color: '#0dbefc'}
                           ]
                       )
                   }
            }
        }
    ]
  });

 }

 function loadPresentPerson(){
    var myChart = echarts.init(document.getElementById('main_presentperson'));
    myChart.setOption(option = {

    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'shadow'
        }
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis: {
        splitLine:{
                show:false  //去掉图表中的竖线
         },
        type: 'value',
        boundaryGap: false
    },
    yAxis: {
        axisLabel: {
                show: true,
                textStyle: {
                  color: '#1ae0fe'
                }
         },
        type: 'category',
        data: ['木工','钢筋工','砼工','其他'],
        max:3
    },
    series: [
        {
            name: '',
           // barCategoryGap:'60%',
           barGap: '30%',
            type: 'bar',
            barWidth: '60%',
            data: [301, 230, 90, 123],
            itemStyle: {
                  normal: {
                     color: new echarts.graphic.LinearGradient(
                         0, 0, 1, 0,   // 0,0,1,0表示从左向右    0,0,0,1表示从右向左
                          [
                               {offset: 0, color: '#0b2446'},
                               {offset: 0.1, color: '#0b3357'},
                               {offset: 0.3, color: '#0c4770'},
                               {offset: 0.5, color: '#0c79AA'},
                               {offset: 0.7, color: '#0d9dd4'},
                                {offset: 1, color: '#0dbefc'}
                           ]
                       )
                   }
            }
        }
    ]
  });

 }

 function loadWokerType(){
    var myChart = echarts.init(document.getElementById('main_workertype'));
    myChart.setOption(option = {

    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'shadow'
        }
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis: {
        splitLine:{
                show:false  //去掉图表中的竖线
         },
        type: 'value',
        boundaryGap: false
    },
    yAxis: {
        axisLabel: {
                show: true,
                textStyle: {
                  color: '#1ae0fe'
                }
         },
        type: 'category',
        data: ['木工','钢筋工','砼工','其他'],
        max:3
    },
    series: [
        {
            name: '',
           // barCategoryGap:'60%',
           barGap: '30%',
            type: 'bar',
            barWidth: '60%',
            data: [301, 236, 95, 125],
            itemStyle: {
                  normal: {
                     color: new echarts.graphic.LinearGradient(
                         0, 0, 1, 0,   // 0,0,1,0表示从左向右    0,0,0,1表示从右向左
                          [
                               {offset: 0, color: '#0b2446'},
                               {offset: 0.1, color: '#0b3357'},
                               {offset: 0.3, color: '#0c4770'},
                               {offset: 0.5, color: '#0c79AA'},
                               {offset: 0.7, color: '#0d9dd4'},
                                {offset: 1, color: '#0dbefc'}
                           ]
                       )
                   }
            }
        }
    ]
  });

 }

  function loadElectronicData()
 {
 	var myChart = echarts.init(document.getElementById('main_electronic'));
 	myChart.setOption(option = {
        tooltip: {
        trigger: 'item',
        //<![CDATA[
        formatter: "{a} <br/>{b}: {c} ({d}%)"
        //]]>
        },
        legend: {
            orient: 'vertical',
            x: 'right',
           textStyle: {
                  color: '#1ae0fe'
                },
            data:['生活区食堂','生活区北','施工现场东','项目部','现场北']
        },
         series: [
        {
            name:'当日用电统计',
            type:'pie',
            radius: ['50%', '70%'],
            avoidLabelOverlap: false,
            label: {
                normal: {
                    show: false,
                    position: 'center'
                },
                emphasis: {
                    show: true,
                    textStyle: {
                        fontSize: '30',
                        fontWeight: 'bold'
                    }
                }
            },
            labelLine: {
                normal: {
                    show: false
                }
            },
            data:[
                {value:335, name:'生活区食堂'},
                {value:310, name:'生活区北'},
                {value:1548, name:'施工现场东'},
                {value:234, name:'项目部'},
                {value:135, name:'现场北'}
            ]
        }
    ]
    });

    setInterval(function() {
      var option = myChart.getOption();
      option.series[0].data = [
                {value:335, name:'生活区食堂'},
                {value:310, name:'生活区北'},
                {value:1548, name:'施工现场东'},
                {value:234, name:'项目部'},
                {value:135, name:'现场北'}
            ];

      myChart.clear();
      myChart.setOption(option,true);
    },30000);
 }

  setInterval(function() {
      var now = new Date().Format("hh:mm:ss");
      $('#timeid').text(now);
  }, 1000);




  //声明公用变量
   var initCount = 0;
   var pubKey = '';
    function initPlugin () {
        oWebControl = new WebControl({
            szPluginContainer: "playWnd",                       // 指定容器id
			iServicePortStart: 15900,                           // 指定起止端口号，建议使用该值
			iServicePortEnd: 15909,
			szClassId:"23BF3B0A-2C56-4D97-9C03-0CB103AA8F11",   // 用于IE10使用ActiveX的clsid
			cbConnectSuccess: function () {                     // 创建WebControl实例成功
				oWebControl.JS_StartService("window", {         // WebControl实例创建成功后需要启动服务
					dllPath: "./VideoPluginConnect.dll"         // 值"./VideoPluginConnect.dll"写死
				}).then(function () {                           // 启动插件服务成功
					oWebControl.JS_SetWindowControlCallback({   // 设置消息回调
						cbIntegrationCallBack: cbIntegrationCallBack
					});

					oWebControl.JS_CreateWnd("playWnd", 1060, 630).then(function () { //JS_CreateWnd创建视频播放窗口，宽高可设定
						init();  // 创建播放实例成功后初始化
					});
				}, function () { // 启动插件服务失败
				});
			},

			cbConnectError: function () { // 创建WebControl实例失败
				oWebControl = null;
				$("#playWnd").html("插件未启动，正在尝试启动，请稍候...");
				WebControl.JS_WakeUp("VideoWebPlugin://"); // 程序未启动时执行error函数，采用wakeup来启动程序
				initCount ++;
				//<![CDATA[
				if (initCount < 3) {
					setTimeout(function () {
						initPlugin();
					}, 3000)
				} else {
					$("#playWnd").html("插件启动失败，请检查插件是否安装！");
				}
				//]]>
			},
			cbConnectClose: function (bNormalClose) {
				// 异常断开：bNormalClose = false
				// JS_Disconnect正常断开：bNormalClose = true
				console.log("cbConnectClose");
				oWebControl = null;
			}
		});
    }

    // 设置窗口控制回调
    function setCallbacks() {
        oWebControl.JS_SetWindowControlCallback({
            cbIntegrationCallBack: cbIntegrationCallBack
        });
    }

    // 推送消息
    function cbIntegrationCallBack(oData) {
        showCBInfo(JSON.stringify(oData.responseMsg));
    }

    function init()
    {
        getPubKey(function () {

			////////////////////////////////// 请自行修改以下变量值	////////////////////////////////////
            var appkey = "26868003";                           //综合安防管理平台提供的内网 appkey，必填，如果需要外网访问要填写23281842
            var secret = setEncrypt("0qBAJY12yA7akmWhIBoq");   //综合安防管理平台提供的secret，必填，如果需要外网访问要填写WWC4dKYrDUdEBZe5aG6O
            var ip = "61.162.56.46";                           //综合安防管理平台IP地址，必填
            var playMode = 0;                                  //初始播放模式：0-预览，1-回放
            var port = 4433;                                    //综合安防管理平台端口，若启用HTTPS协议，默认443
            var snapDir = "D:\\SnapDir";                       //抓图存储路径
            var videoDir = "D:\\VideoDir";                     //紧急录像或录像剪辑存储路径
            var layout = "2x2";                                //playMode指定模式的布局
            var enableHTTPS = 1;                               //是否启用HTTPS协议与综合安防管理平台交互，是为1，否为0
            var encryptedFields = 'secret';					   //加密字段，默认加密领域为secret
			var showToolbar = 0;                               //是否显示工具栏，0-不显示，非0-显示
			var showSmart = 0;                                 //是否显示智能信息（如配置移动侦测后画面上的线框），0-不显示，非0-显示
			var buttonIDs = "0,16,256,257,258,259,260,512,513,514,515,516,517,768,769";  //自定义工具条按钮
			////////////////////////////////// 请自行修改以上变量值	////////////////////////////////////

            oWebControl.JS_RequestInterface({
                funcName: "init",
                argument: JSON.stringify({
                    appkey: appkey,                            //API网关提供的appkey
                    secret: secret,                            //API网关提供的secret
                    ip: ip,                                    //API网关IP地址
                    playMode: playMode,                        //播放模式（决定显示预览还是回放界面）
                    port: port,                                //端口
                    snapDir: snapDir,                          //抓图存储路径
                    videoDir: videoDir,                        //紧急录像或录像剪辑存储路径
                    layout: layout,                            //布局
                    enableHTTPS: enableHTTPS,                  //是否启用HTTPS协议
                    encryptedFields: encryptedFields,          //加密字段
					showToolbar: showToolbar,                  //是否显示工具栏
					showSmart: showSmart,                      //是否显示智能信息
					buttonIDs: buttonIDs                       //自定义工具条按钮
                })
            }).then(function (oData) {
				oWebControl.JS_Resize(1060, 630);  // 初始化后resize一次，规避firefox下首次显示窗口后插件窗口未与DIV窗口重合问题
				startPreview('2cc3aa4a48bc4845a223875db7089d70',1);
				startPreview('ea86e20f824f4f298acde090d153f812',2);
				startPreview('abe2c644be1841b8a1f845bfa04d77b5',3);
				startPreview('91c48a084aed4e618510de19ae43595f',4);
            });
        });
    }

    //获取公钥
    function getPubKey (callback) {
        oWebControl.JS_RequestInterface({
            funcName: "getRSAPubKey",
            argument: JSON.stringify({
                keyLength: 1024
            })
        }).then(function (oData) {
            console.log(oData);
            if (oData.responseMsg.data) {
                pubKey = oData.responseMsg.data;
                callback()
            }
        })
    }

    //RSA加密
    function setEncrypt (value) {
        var encrypt = new JSEncrypt();
        encrypt.setPublicKey(pubKey);
        return encrypt.encrypt(value);
    }
    // 监听resize事件，使插件窗口尺寸跟随DIV窗口变化
	 $(window).resize(function () {
        if (oWebControl != null) {
            oWebControl.JS_Resize(1060, 630);
            setWndCover();
        }
    });

	// 监听滚动条scroll事件，使插件窗口跟随浏览器滚动而移动
	$(window).scroll(function () {
        if (oWebControl != null) {
            oWebControl.JS_Resize(1060, 630);
            setWndCover();
        }
    });



    // 设置窗口裁剪，当因滚动条滚动导致窗口需要被遮住的情况下需要JS_CuttingPartWindow部分窗口
    function setWndCover() {
        var iWidth = $(window).width();
        var iHeight = $(window).height();
        var oDivRect = $("#playWnd").get(0).getBoundingClientRect();

        //<![CDATA[

        var iCoverLeft = (oDivRect.left < 0) ? Math.abs(oDivRect.left): 0;
        var iCoverTop = (oDivRect.top < 0) ? Math.abs(oDivRect.top): 0;
        var iCoverRight = (oDivRect.right - iWidth > 0) ? Math.round(oDivRect.right - iWidth) : 0;
        var iCoverBottom = (oDivRect.bottom - iHeight > 0) ? Math.round(oDivRect.bottom - iHeight) : 0;
        //]]>

        iCoverLeft = (iCoverLeft > 1060) ? 1060 : iCoverLeft;
        iCoverTop = (iCoverTop > 630) ? 630 : iCoverTop;
        iCoverRight = (iCoverRight > 1060) ? 1060 : iCoverRight;
        iCoverBottom = (iCoverBottom > 630) ? 630 : iCoverBottom;

		oWebControl.JS_RepairPartWindow(0, 0, 1061, 630);    // 多1个像素点防止还原后边界缺失一个像素条
        if (iCoverLeft != 0) {
			oWebControl.JS_CuttingPartWindow(0, 0, iCoverLeft, 630);
        }
        if (iCoverTop != 0) {
            oWebControl.JS_CuttingPartWindow(0, 0, 1001, iCoverTop);    // 多剪掉一个像素条，防止出现剪掉一部分窗口后出现一个像素条
        }
        if (iCoverRight != 0) {
            oWebControl.JS_CuttingPartWindow(1060 - iCoverRight, 0, iCoverRight, 630);
        }
        if (iCoverBottom != 0) {
            oWebControl.JS_CuttingPartWindow(0, 630 - iCoverBottom, 1060, iCoverBottom);
        }
    }

     //视频预览功能
    $("#startPreview").click(function () {
        var cameraIndexCode  = '7024c72e95ff40358e6f9830aa4e798a';     //获取输入的监控点编号值，必填
        var streamMode = 0;                                     //主子码流标识：0-主码流，1-子码流
        var transMode = 1;                                      //传输协议：0-UDP，1-TCP
        var gpuMode = 0;                                        //是否启用GPU硬解，0-不启用，1-启用
        var wndId = 1;                                         //播放窗口序号（在2x2以上布局下可指定播放窗口）

        cameraIndexCode = cameraIndexCode.replace(/(^\s*)/g, "");
        cameraIndexCode = cameraIndexCode.replace(/(\s*$)/g, "");

        oWebControl.JS_RequestInterface({
            funcName: "startPreview",
            argument: JSON.stringify({
                cameraIndexCode:cameraIndexCode,                //监控点编号
                streamMode: streamMode,                         //主子码流标识
                transMode: transMode,                           //传输协议
                gpuMode: gpuMode,                               //是否开启GPU硬解
                wndId:wndId                                     //可指定播放窗口
            })
        })
    });


    function startPreview(cameraCode,windowId){
        var cameraIndexCode  = cameraCode;     //获取输入的监控点编号值，必填
        var streamMode = 0;                                     //主子码流标识：0-主码流，1-子码流
        var transMode = 1;                                      //传输协议：0-UDP，1-TCP
        var gpuMode = 0;                                        //是否启用GPU硬解，0-不启用，1-启用
        var wndId = windowId;                                         //播放窗口序号（在2x2以上布局下可指定播放窗口）

        cameraIndexCode = cameraIndexCode.replace(/(^\s*)/g, "");
        cameraIndexCode = cameraIndexCode.replace(/(\s*$)/g, "");

        oWebControl.JS_RequestInterface({
            funcName: "startPreview",
            argument: JSON.stringify({
                cameraIndexCode:cameraIndexCode,                //监控点编号
                streamMode: streamMode,                         //主子码流标识
                transMode: transMode,                           //传输协议
                gpuMode: gpuMode,                               //是否开启GPU硬解
                wndId:wndId                                     //可指定播放窗口
            })
        })
    }



    // 标签关闭
    $(window).unload(function () {
        if (oWebControl != null){
			oWebControl.JS_HideWnd();   // 先让窗口隐藏，规避可能的插件窗口滞后于浏览器消失问题
            oWebControl.JS_Disconnect().then(function(){  // 断开与插件服务连接成功
			},
			function() {  // 断开与插件服务连接失败
			});
        }
    });

</script>
</body>
</html>
