.fontblue {
	font-size: 36px;
	color: #1ae0fe;
}
.fontblue2 {
	font-size: 36px;
	color: #00a2ff;
}
.fontblue3 {
	font-size: 22px;
	color: #9bdef0;
	line-height: 38px;
}
.fontlwblue {
	font-size: 18px;
	color: #19d3f0;
	line-height: 30px;
	text-indent: 20;
}
.fontlwblue2{
	font-size: 18px;
	color: #19d3f0;
	line-height: 30px;
	text-indent: 20;
}
.fontlwwhite{
	font-size: 13px;
	color: #ffffff;
	line-height: 30px;
	text-indent: 20;
}
.fontdtblue {
	font-size: 12px;
	color: #19d3f0;
	line-height: 22px;
	text-indent: 20;
}

.fontwhite {
	font-size: 32px;
	color: #FFF;
}
.fontyellow {
	font-size: 36px;
	color: #f3f024;
}


